.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  margin: 0;
  overflow: hidden;
  background: hsl(var(--color-success-hue), 50%, 40%, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: .25s ease-in-out;
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  position: relative;
  background: #fff;
  padding: 1.5rem;
  border-radius: .75rem;
}

.modal__close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}