/* Color */
.color--success {
  color: var(--color-success);
}
.color--warning {
  color: var(--color-warning);
}
.color--danger {
  color: var(--color-danger);
}
.color--medium {
  color: var(--color-medium);
}
.color--primary {
  color: var(--color-primary);
}

/* Margin */
.m-0 {
  margin: 0;
}
